
# Jupyter notebook for the case study (using Python 3)

## Task 1

**_1) Setup_**

importing libraries to process data. Pandas package to work with Dataframes. Numpay package for math / linear algebra.

In [31]:
import pandas as pd
import numpy as np

defining dataset names. Can change names to add other datasets.

In [240]:
#uncomment for testing with small datasets
name_dataset_0 = 'small_app_dataset.csv' # 'app_dataset.csv'
name_dataset_1 = 'small_dataset_1.csv' # 'dataset_1.csv'
name_dataset_2 = 'small_dataset_2.csv' # 'dataset_2.csv'

In [268]:
name_dataset_0 = 'app_dataset.csv'
name_dataset_1 = 'dataset_1.csv'
name_dataset_2 = 'dataset_2.csv'

defining key names

In [83]:
key1 = 'key1'
key2 = 'key2'
key_names = [key1, key2]

saving CSV fomratted datasets as Pandas dataframes

In [269]:
dataset_0 = pd.read_csv(name_dataset_0, sep=';')
dataset_1 = pd.read_csv(name_dataset_1, sep=';')
dataset_2 = pd.read_csv(name_dataset_2, sep=';')

**_2) Investigating how many NA values we have in 3 datasets. Then dropping NA-only rows and columns_**

function to print number of column, rows and elements for each dataset

In [79]:
def print_col_row_and_cell_count(df):
    column_count = df.shape[1]
    row_count = df.shape[0]
    element_count = column_count*row_count
    print('column count:  ', column_count)
    print('row count:     ', row_count)
    print('element count: ', element_count)
    print()

total number of row and column count for each dataset (including NA)

In [270]:
print('1) dataset 0')
print_col_row_and_cell_count(dataset_0)
print('2) dataset 1')
print_col_row_and_cell_count(dataset_1)
print('3) dataset 2')
print_col_row_and_cell_count(dataset_2)

1) dataset 0
column count:   5
row count:      798
element count:  3990

2) dataset 1
column count:   169
row count:      14571
element count:  2462499

3) dataset 2
column count:   37
row count:      10137
element count:  375069

function to drop columns and rows that has only NA values

In [242]:
def drop_NA_only_columns_and_rows(input_df, key_names=key_names):
    df = input_df.copy(deep=True)
    df_columns = set(df)
    df_columns_without_keys = df_columns - set(key_names)
    df = df.dropna(axis=0, how='all', subset=df_columns_without_keys) # droping rows that have all NA values except for keys
    df = df.dropna(axis=1, how='all') # droping NA columns
    return df

dropping columns and rows containing only NA values for all 3 datasets

In [271]:
dataset_0 = drop_NA_only_columns_and_rows(dataset_0)
dataset_1 = drop_NA_only_columns_and_rows(dataset_1)
dataset_2 = drop_NA_only_columns_and_rows(dataset_2)

total number of row and column count for each dataset after columns and rows with containing only NAs are droped. Datasets still contain NAs in rows and columns where there are also non NA values

In [272]:
print('1) dataset 0')
print_col_row_and_cell_count(dataset_0)
print('2) dataset 1')
print_col_row_and_cell_count(dataset_1)
print('3) dataset 2')
print_col_row_and_cell_count(dataset_2)

1) dataset 0
column count:   5
row count:      798
element count:  3990

2) dataset 1
column count:   169
row count:      14506
element count:  2451514

3) dataset 2
column count:   37
row count:      10132
element count:  374884

**_3) .....handling NA in some other way???...... _**

**_4) Joining the datasets_**

In [264]:
dataset_0_and_1 = pd.merge(dataset_0, dataset_1, how='left', on=key2)

In [ ]:
#dataset_0_and_1 = pd.merge(dataset_0, dataset_1, how='left', on=key2, left_on=None, right_on=None,
#         left_index=False, right_index=False, sort=True,
#         suffixes=('_x', '_y'), copy=True, indicator=False)

In [265]:
dataset_0_and_1

,key1,v001,v002,key2,response,v3,v4,v5,v6,v7,...,v161,v162,v163,v164,v165,v166,v167,v168,v169,v170
0,4,15,35,4,0,NaN,1400,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,88,13,21,34,1,NaN,500,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,139,13,66,808,0,NaN,"4975,86",2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148,13,20,65,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,159,13,21,312,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,162,13,43,6218,0,NaN,2500,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
6,175,14,27,241,1,NaN,"13632,02",6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
7,215,14,29,107,1,NaN,748,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
8,246,14,33,102,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,280,14,21,216,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,330,15,35,183,0,NaN,3000,2.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,333,15,40,6220,0,NaN,"49813,88",7.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,401,16,34,152,0,NaN,3000,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,419,16,32,6831,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,424,16,48,174,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,490,17,64,305,1,NaN,"50874,66",10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,510,17,55,319,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,557,18,28,249,1,NaN,3300,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,559,18,29,246,1,NaN,"1736,45",1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,593,18,34,368,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,598,18,21,369,1,NaN,5700,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
21,637,19,20,361,1,NaN,150,1.0,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
22,657,20,28,527,0,NaN,300,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,662,20,23,475,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,668,20,44,5654,0,NaN,7500,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,676,20,43,398,0,NaN,1750,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
26,701,20,22,678,1,NaN,1600,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,709,21,21,462,0,NaN,600,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,718,21,31,460,0,NaN,2350,2.0,NaN,NaN,...,NaN,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
29,740,21,21,719,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,12892,12,49,8789,0,NaN,1000,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
769,12900,13,24,8628,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
770,12906,13,26,8636,1,NaN,1200,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
771,12908,13,47,8681,0,NaN,2500,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
772,12909,13,43,8699,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773,12917,13,73,8701,0,NaN,6000,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
774,12930,14,34,8639,0,NaN,3000,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
775,12933,14,26,8650,0,NaN,2100,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
776,12940,14,34,8667,1,NaN,"7758,09",2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
777,12942,14,33,8659,0,NaN,1000,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
778,12949,14,24,8668,0,NaN,160,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
779,12951,15,21,8675,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
780,12959,15,20,8680,1,NaN,3000,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
781,12962,15,35,8682,0,NaN,3200,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
782,12964,15,27,8684,0,NaN,320,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
783,12966,15,20,8687,0,NaN,1150,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
784,12970,15,24,8689,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
785,12981,16,28,8854,0,NaN,1000,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
786,12984,16,24,8709,0,NaN,"759,32",1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
787,12985,16,36,8707,0,NaN,2000,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
788,12987,16,28,8708,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
789,12991,16,35,8710,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790,13006,17,39,8865,0,NaN,100,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791,13008,17,22,8723,0,NaN,5886,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
792,13013,18,29,8727,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
793,13015,18,46,8724,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
794,13028,18,59,8737,0,NaN,3000,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
795,13032,19,22,8887,0,NaN,4800,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796,13036,19,22,8746,0,NaN,300,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,13066,23,26,8788,0,NaN,1700,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [266]:
dataset_full = pd.merge(dataset_0_and_1, dataset_2, how='left', on=key1)

In [267]:
dataset_full

,key1,v001,v002,key2,response,v3,v4,v5,v6,v7,...,v197,v198,v199,v200,v201,v202,v203,v204,v171.1,v172.1
0,4,15,35,4,0,NaN,1400,1.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,business,"0,1",U
1,88,13,21,34,1,NaN,500,1.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,residential,"0,1",U
2,139,13,66,808,0,NaN,"4975,86",2.0,NaN,NaN,...,510.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,residential,"0,1",U
3,148,13,20,65,0,NaN,NaN,NaN,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,cellular,"0,1",U
4,159,13,21,312,1,NaN,NaN,NaN,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,cellular,"0,1",U
5,162,13,43,6218,0,NaN,2500,1.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,residential,"0,1",U
6,175,14,27,241,1,NaN,"13632,02",6.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,residential,"0,1",U
7,215,14,29,107,1,NaN,748,1.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,residential,"0,1",U
8,246,14,33,102,0,NaN,NaN,NaN,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,residential,"1,7",U
9,280,14,21,216,0,NaN,NaN,NaN,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,residential,"0,1",U
10,330,15,35,183,0,NaN,3000,2.0,1.0,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,cellular,"0,1",U
11,333,15,40,6220,0,NaN,"49813,88",7.0,NaN,2.0,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,residential,"0,1",U
12,401,16,34,152,0,NaN,3000,1.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,residential,"0,1",Y
13,419,16,32,6831,0,NaN,NaN,NaN,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,residential,"0,1",U
14,424,16,48,174,0,NaN,NaN,NaN,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,residential,"0,1",U
15,490,17,64,305,1,NaN,"50874,66",10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,510,17,55,319,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,557,18,28,249,1,NaN,3300,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,559,18,29,246,1,NaN,"1736,45",1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,593,18,34,368,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,598,18,21,369,1,NaN,5700,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,637,19,20,361,1,NaN,150,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,657,20,28,527,0,NaN,300,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,662,20,23,475,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,668,20,44,5654,0,NaN,7500,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,676,20,43,398,0,NaN,1750,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,701,20,22,678,1,NaN,1600,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,709,21,21,462,0,NaN,600,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,718,21,31,460,0,NaN,2350,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,740,21,21,719,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,12892,12,49,8789,0,NaN,1000,1.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wired,NaN,U
769,12900,13,24,8628,0,NaN,NaN,NaN,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wifi,NaN,U
770,12906,13,26,8636,1,NaN,1200,3.0,NaN,NaN,...,510.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wifi,NaN,U
771,12908,13,47,8681,0,NaN,2500,1.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wifi,NaN,U
772,12909,13,43,8699,0,NaN,NaN,NaN,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wired,NaN,U
773,12917,13,73,8701,0,NaN,6000,2.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,mobile,NaN,U
774,12930,14,34,8639,0,NaN,3000,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
775,12933,14,26,8650,0,NaN,2100,2.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wifi,NaN,U
776,12940,14,34,8667,1,NaN,"7758,09",2.0,NaN,NaN,...,510.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,mobile,NaN,U
777,12942,14,33,8659,0,NaN,1000,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
778,12949,14,24,8668,0,NaN,160,1.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,mobile,NaN,U
779,12951,15,21,8675,1,NaN,NaN,NaN,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,mobile,NaN,U
780,12959,15,20,8680,1,NaN,3000,2.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,mobile,NaN,U
781,12962,15,35,8682,0,NaN,3200,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
782,12964,15,27,8684,0,NaN,320,1.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wired,NaN,U
783,12966,15,20,8687,0,NaN,1150,2.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wired,NaN,U
784,12970,15,24,8689,0,NaN,NaN,NaN,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wired,NaN,P
785,12981,16,28,8854,0,NaN,1000,1.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,mobile,NaN,U
786,12984,16,24,8709,0,NaN,"759,32",1.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,mobile,NaN,U
787,12985,16,36,8707,0,NaN,2000,1.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wifi,NaN,U
788,12987,16,28,8708,0,NaN,NaN,NaN,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wifi,NaN,U
789,12991,16,35,8710,0,NaN,NaN,NaN,NaN,NaN,...,510.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wifi,NaN,U
790,13006,17,39,8865,0,NaN,100,1.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,mobile,NaN,U
791,13008,17,22,8723,0,NaN,5886,4.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wifi,NaN,U
792,13013,18,29,8727,0,NaN,NaN,NaN,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,mobile,NaN,U
793,13015,18,46,8724,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
794,13028,18,59,8737,0,NaN,3000,3.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wifi,NaN,U
795,13032,19,22,8887,0,NaN,4800,2.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wifi,NaN,U
796,13036,19,22,8746,0,NaN,300,2.0,NaN,1.0,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wifi,NaN,U
797,13066,23,26,8788,0,NaN,1700,2.0,NaN,NaN,...,508.0,3.0,Moderate,311.0,Moderate By Proxy Reputation And Country Code,Good,No,wifi,NaN,U

In [273]:
print('dataset_full')
print_col_row_and_cell_count(dataset_full)

dataset_full
column count:   209
row count:      798
element count:  166782

In [274]:
dataset_full = drop_NA_only_columns_and_rows(dataset_full)

In [275]:
print('dataset_full')
print_col_row_and_cell_count(dataset_full)

dataset_full
column count:   191
row count:      798
element count:  152418

In [276]:
dataset_full.to_csv('dataset_full.csv')

In [78]:
dataset_0.shape[1]

5

In [186]:
dataset_example = dataset_1.copy(deep=True)
dataset_example.shape

(5, 29)

In [198]:
#dataset_example = dataset_example.dropna(axis=0, how='all', subset=all_columns_no_key)

In [199]:
#dataset_example

In [189]:
list(dataset_0)

['key1', 'v001', 'v002', 'key2', 'response']

In [200]:
dataset_0

   key1  v001  v002  key2  response
0     4    15    35     4         0
1    88    13    21    34         1
2   139    13    66   808         0

In [230]:
#set(dataset_1)

In [201]:
dataset_1

,key2,v4,v5,v7,v12,v14,v22,v24,v27,v28,...,v108,v109,v112,v113,v115,v116,v119,v120,v122,v123
0,1,1500,1.0,1.0,NaN,1500,1500.0,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,3.0,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN
3,4,1400,1.0,NaN,1.0,1400,NaN,NaN,1400,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,88,"4920,57",3.0,NaN,3.0,"4920,57",NaN,"6420,57","4920,57","5559,01",...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0,8.0,20.0

In [231]:
#list(dataset_2)

In [202]:
dataset_2

,key1,v173,v174,v175,v176,v177,v178,v179,v180,v181,...,v197,v198,v199,v200,v201,v202,v203,v204,v171.1,v172.1
0,3,2009-03-30 18:53:17,2997.0,2017-06-14 13:59:34,0,2017-06-14 13:59:34,ValidDomain,500 Moderate,500,4,...,508,3,Moderate,311,Moderate By Proxy Reputation And Country Code,Good,No,business,"0,1",U
1,6,2009-03-30 18:53:17,3002.0,2017-06-19 13:23:29,0,2017-06-19 13:23:29,ValidDomain,500 Moderate,500,4,...,508,3,Moderate,311,Moderate By Proxy Reputation And Country Code,Good,No,business,"0,1",U
2,4,1998-04-28 20:00:00,6991.0,2017-06-19 13:30:01,0,2017-06-19 13:30:00,Verified,500 Moderate,500,2,...,508,3,Moderate,311,Moderate By Proxy Reputation And Country Code,Good,No,business,"0,1",U
3,88,1998-04-28 20:00:00,6993.0,2017-06-21 11:35:53,0,2017-06-21 11:35:53,Verified,500 Moderate,500,2,...,508,3,Moderate,311,Moderate By Proxy Reputation And Country Code,Good,No,residential,"0,1",U
4,121,NaN,NaN,2016-12-08 16:52:05,194,2017-06-18 04:42:57,Verified,296 Low,296,2,...,510,3,Moderate,311,Moderate By Proxy Reputation And Country Code,Good,No,residential,"0,1",U

In [162]:
 df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},  index=[0, 1, 2, 3])

In [163]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [151]:
na_df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1],
                    [np.nan, np.nan, np.nan, np.nan], [1, np.nan, np.nan, np.nan]],
                    columns=['key1','A','B','C'])

In [152]:
na_df

   key1    A   B    C
0   NaN  2.0 NaN  0.0
1   3.0  4.0 NaN  1.0
2   NaN  NaN NaN  NaN
3   1.0  NaN NaN  NaN

In [154]:
na_df2=na_df.copy(deep=True)
na_df2 = na_df2.dropna(axis=0, how='all',subset={'B','C','A'})
na_df2

   key1    A   B    C
0   NaN  2.0 NaN  0.0
1   3.0  4.0 NaN  1.0

In [125]:
na_df_columns = list(na_df.columns)
na_df_columns

['A', 'B', 'C', 'D']

In [129]:
na_df_columns_set=set(na_df_columns)
na_df_columns_set

{'A', 'B', 'C', 'D'}

In [130]:
list(na_df_columns_set)

['A', 'C', 'B', 'D']

In [131]:
set(na_df2)

{'A', 'B', 'C', 'D'}

In [155]:
na_df3=na_df.copy(deep=True)
drop_NA_only_columns_and_rows(na_df3)

   key1    A    C
0   NaN  2.0  0.0
1   3.0  4.0  1.0

In [164]:
[1,2,3] - [1,2]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [169]:
set([1,2,3]) - set([1,2,4])

{3}